.default-red {
    height: 70px;
    width: 75px;
    background-color: red;
}

.punch-pad {
    height: 70px;
    width: 75px;
    background-color: white;
}

.layout {
    display: flex;
    flex-direction: row;
}

.top-button {
    height: 80px;
    width: 300px;
    background-color: black;
}

.clear-button {
    height: 70px;
    width: 225px;
    background-color: white;
}

.divide-button {
    height: 70px;
    width: 75px;
    background-color: red;
}