/* All styles for your Card Components live here */

.card-container {
    width: 80%;
    max-width: 1000px;
    border: solid 1px grey;
    border-radius: 5px;
    margin-left: 90px;
}

.card-container img {
    width: 100%;
    max-width: 1000px;
    border-radius: 5px 5px 0 0;
}

.card-content {
    padding: 10px;
}

.card-content a {
    text-decoration: none;
}

