.zero {
    background-color: white;
}

.one {
    background-color: white;
}

.two {
    background-color: white;
}

.three {
    background-color: white;
}

.four {
    background-color: white;
}

.five {
    background-color: white;
}

.six {
    background-color: white;
}

.seven {
    background-color: white;
}

.eight {
    background-color: white;
}

.nine {
    background-color: white;
}